@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-feature-settings: "calt", "kern", "liga", "ss03";
  background: #07080a;
  color: #f4f4f6;
}
